﻿
<div class="area">
    <div class="storyBox">
        <div class="storyLeft1"><img src="~/Content/images/storyTitleImg.png" alt=""></div>
        <div class="storyRight1">臺灣糕餅國際知名，過去幾年尤其受到海外民眾歡迎，但2020年受到疫情影響，重創業者生計。受到疫情衝擊下，消費行為的改變，透過多媒體行銷來增加國際能見度與知名度，進而協助開拓客源，掌握消費者的需求以及為臺灣餅找到國際定位及文化優勢，以及帶動其他業者新一波轉型風潮，為重要課題。也因此，將商品打造出具有競爭力及有國際化的水準，讓臺灣餅能走出臺灣，成為趨勢。</div>
    </div>
    <div class="storyImgBox">
        <img src="~/Content/images/storyImg1.png" alt="">
    </div>
    <div class="storyBox">
        <div class="storyLeft2">經濟部商業司為協助臺灣餅業者經營轉型及在世界被看見，委託中華民國全國商業總會辦理「臺灣餅甄選活動」，選出全國優質臺灣餅，並進行相關輔導與行銷推廣活動。</div>
        <div class="storyRight2"><img src="~/Content/images/storyImg2.jpg" alt=""></div>
    </div>
    <div class="storyBox">
        <div class="storyLeft3"><img src="~/Content/images/storyImg3.jpg" alt=""></div>
        <div class="storyRight3">本活動甄選出全國優質的臺灣餅，讓臺灣餅除傳承優良文化及品質外，並鼓勵以傳統中式餅概念發揮創意製作，在後疫情時代，健康、免疫力提升及精緻安全走向，促成業者經營轉型；另一方面，協助臺灣餅包裝設計在地化，將品牌成為一種新時尚，期望透過甄選活動以及深度輔導來促成業者經營轉型及新市場開發，帶動業者維新風潮。</div>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $(".bg").attr("class", "bg2");
        });
    </script>
}
