﻿@model PastryFestival2021.Areas.Admin.ViewModels.News.NewsView
@{
    var title = Model.ID == 0 ? "新增最新消息" : "編輯最新消息";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    @title 管理
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">@title</h3>
                </div>

                @using (Html.BeginForm("Edit", "NewsAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title)
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Image)
                            <br />
                            <p class="help-block">請上傳不超過3MB的圖片</p>
                            @Html.EditorFor(m => m.ImageFile, "_UploadImage", new { @PhotoFolder = "NewsPhoto" })
                            @if (!string.IsNullOrEmpty(Model.Image))
                            {
                                <img src="~/FileUploads/NewsPhoto/@Model.Image?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.Image)
                                <br />
                                @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = "Image" }, new { @class = "btn btn-danger js-delete-confirm" })
                            }
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Content)
                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control js-ckeditor" })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.OnlineTime)
                            @Html.TextBoxFor(model => model.OnlineTime, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.OnlineTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @if (Model.ID != 0)
                        {
                            @Html.ActionLink("刪除", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                        }
                        @Html.ActionLink("取消/回列表", "Index", "NewsAdmin", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/Scripts/Admin/fileUpload.js"></script>
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

    <!--DatePicker-->
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script>
        $(window).on('load', function () {
            $("form").each(function () { $.data($(this)[0], 'validator', false); });
            $.validator.unobtrusive.parse("form");
        });
        $(function () {
            //Ckeditor init
            $('.js-ckeditor').each(function (i, e) {
                var id = $(e).attr('id');
                CKEDITOR.replace(id, {
                    filebrowserImageUploadUrl: "/Admin/NewsAdmin/Upload"
                });
            });
            var myDate = $.datepicker.parseDate("yy/mm/dd", $("#OnlineTime").val());
            var date = $.datepicker.formatDate("yy/mm/dd", myDate);
            $("#OnlineTime").val(date);
            $("#OnlineTime").datepicker({
                dateFormat: "yy/mm/dd"
            });
        });
        
        $('body').on('change', '.custom-file input[type="file"]', function () {
            const $this = $(this);
            var $customFile = $this.parent();

            var fileName = $this.val();
            var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
            $customFile.find('.custom-file-label').html(cleanFileName);
        });
    </script>
}