﻿

<div class="area">
    <div class="visible"><img src="~/Content/images/pastryTitle.png"></div>
    <div class="visibleM"><img src="~/Content/images/pastryTitle_mb.png"></div>
    <div class="storyWords pastryWords">
        古代飲食繁複多樣，餅的花樣很多，《說文解字》解釋是用小麥磨粉做的食物稱”餅”，因此餅最主要的原料是小麥粉。因為餅文化的發展離不開小麥，在西漢時黃河中下游，小麥是最為重要的糧作物，又因石磨的出現將小麥磨製成粉，而改變以小麥為飲食的結構，漢唐是高峰發展期，到了宋朝後期因戰亂，宋人南遷使得餅食文化也發生了變化。
    </div>
    <div class="pastryConTitle">
        <img src="~/Content/images/pastryTitle01.png" alt="">
    </div>
    <div class="storyBox pastryBox">
        <div class="storyLeft2">餅經過長時間的發展，由唐代開始，用炭爐烘烤的「唐餅」，隨時代進化而傳承下來。福建因宋人遷入，承襲中原之飲食習慣，而臺灣早期多由福建移民而來，因此”餅”均有福建的特色，常見的有光餅、潤餅、麵線、麻花等。後因日本的統治及政府遷台，又融入了不同的餅食，加上美國以麵粉及小麥援助臺灣，發展出多樣的臺灣餅特色，已逐漸成為臺灣本土的餅藝文化。</div>
        <div class="storyRight2"><img src="~/Content/images/pastryImg01.jpg" alt=""></div>
    </div>
    <div class="pastryConTitle pastryConTitle2">
        <img src="~/Content/images/pastryTitle02.png" alt="">
    </div>
    <div class="storyWords pastryWords">
        “餅”與生活息息相關，古人為了表達對美好生活的企盼，餅的名稱均著重於寓意內涵，而內涵卻是一個抽象概念，像是出生用「紅龜」、生日的「壽桃、壽龜」都是盼望長壽，結婚的「龍鳳喜餅」期盼龍鳳和鳴相生相隨。
    </div>
    <div class="storyBox pastryBox">
        <div class="storyLeft3"><img src="~/Content/images/pastryImg02.jpg" alt=""></div>
        <div class="storyRight3">年節的餅更是結合節令及作物，如元宵節的元宵或湯圓，清明掃墓的「紅圓、鼠麯粿」、中元節的「摩軻、糕仔潤」、中秋的「月餅、冰沙餅」、過年的「桔紅、糕仔粒、寸棗、生仁」。節慶廟會的「鳳片龜、糖塔」，休閒的「馬花炸(雙胞胎)、卡車滕(糖麻花)、鹹光餅、椪餅、各式糕仔」等等。年節歲令都可見到它們的蹤跡，這些禮俗都與餅有關，也因此發展出臺灣餅特有的節慶文化。 </div>
    </div>
    <div class="pastryConTitle">
        <img src="~/Content/images/pastryTitle03.png" alt="">
    </div>
    <div class="storyWords pastryWords">
        在傳統社會中，餅代表了身分也是社交禮數，每次外出旅遊或者過年過節到親朋家拜訪，總不免帶個伴手禮送給對方以表心意，但為什麼要送伴手禮呢？禮尚往來的風俗習慣，是淵遠流長的傳統，所謂禮輕情意重代表的人情趣味與文化意義是很深遠的。
    </div>
    <div class="storyImgBox pastryImg03">
        <img src="~/Content/images/pastryImg03.jpg" alt="">
    </div>
    <div class="storyBox pastryBox">
        <div class="storyLeft2">伴手禮的習俗由來已久，古時叫「伴禮」、「伴手」、「等路」。以前的人生活貧困，在年節時，往往要給親朋好友準備伴手禮，這些伴手禮並不是買的，而是一年來省吃儉用省下來的積蓄或是自己生產的物品累積下來的，所以伴手禮是形容送禮人的那份珍貴以及誠意與心意。伴手禮在臺灣是早期農業社會聯繫感情、傳遞溫暖的禮物，逐漸成為今日各地行銷特產的專有名詞。</div>
        <div class="storyRight2"><img src="~/Content/images/pastryImg04.jpg" alt=""></div>
    </div>
    <div class="pastryConTitle pastryConTitle2 pastryTitle04">
        <img src="~/Content/images/pastryTitle04.png" alt="">
    </div>
    <div class="storyWords pastryWords">
        先秦至漢唐麵食皆稱為「餅」。製作方法有擀、拉、撥、削、壓、擦、揪、抿等幾十種，再通過蒸、煮、燜、炒、烙、烤、煎、炸等熟製方式，變化成了各式各樣的餅食，如燒餅、烤餅、烙餅、煎餅、蒸餅、煮餅、湯餅等。
        餅的製作技術已有悠久的歷史，長久發展結果，已將一種餅千種變發揮的淋灕盡致。在社會經濟環境變遷下，餅種類更加豐富，但基本的調製法，並沒有很大的變化，這也是我國傳統的餅食文化。
    </div>
    <div class="storyBox pastryBox">
        <div class="storyLeft3"><img src="~/Content/images/pastryImg05.jpg" alt=""></div>
        <div class="storyRight3">臺灣漢餅皮分為酥皮和糕漿皮兩種，酥皮又稱油酥皮、油皮、酥皮、起酥皮、層酥皮等。是由水油皮與油酥兩種麵糰組合而成的，水油皮要加水調製以形成麵筋，才可將油酥(沒麵筋)包住，經包、擀、捲、包餡、成形後，以烤或炸熟製後，會產生層次分明、鬆酥的特性，若再包入不同餡料，形成了種類繁多的「滿漢全席」了。</div>
    </div>
    <div class="storyWords pastryWords">
        糕漿皮是由糖、油、麵與少量的水或蛋所調製的餅皮，名稱很多，有糖皮、蛋皮、清仔皮、混糖皮、硬皮、酥皮、漿皮等等。餅皮比較不會形成麵筋，因此會有鬆酥脆的特性，因麵皮是單層故不會產生層次，只要包餡即可成型，以烤或炸等熟製，就可以製作出各種不同種類的糕漿類餅食，若再包入不同風味餡料，則形形色色的糕漿餅食會呈現在我們眼前了。
    </div>
    <div class="storyBox pastryBox">
        <div class="storyLeft2">餅名大多用餡料命名，如芝麻蛋黃、香菇滷肉、棗泥、五仁、蓮蓉、核桃、鹹肉、紅豆沙、鳳梨、椰子、白雪酥、芋頭酥等。或者依用途命名，如喜餅、大餅或日頭餅、老婆餅、月餅等，以及吉祥寓意的命名。</div>
        <div class="storyRight2"><img src="~/Content/images/pastryImg06.jpg" alt=""></div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $(".bg").attr("class", "bg2");
        });
    </script>
}
