﻿@model PastryFestival2021.ViewModels.News.NewsView

<div class="area newspageCon">
    <p class="newspageTitle">@Model.Title</p>
    <img src="~/FileUploads/NewsPhoto/@Model.Image" alt="">
    @Html.Raw(Model.Content)
</div>
