﻿@model PastryFestival2021.ViewModels.News.NewsIndexView

<div class="area">
    <div class="title visible"><img src="~/Content/images/newsTitle.png" alt=""></div>
    <div class="title visibleM"><img src="~/Content/images/newsTitleM.png" alt=""></div>
    <div class="newsList">
        @foreach (var item in Model.NewsList)
        {
            <a href="@Url.Action("Detail","News", new { id = item.ID })" class="newsBox">
                <div class="date">@item.OnlineTime.ToString("yyyy-MM-dd")</div>
                <div class="news">@item.Title</div>
            </a>
        }
    </div>
</div>
