﻿
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        @*<li class="nav-header">EXAMPLES</li>*@
        <li class="nav-item">
            <a href="@Url.Action("Index", "NewsAdmin")" class="nav-link">
                <i class="nav-icon fas fa-newspaper"></i>
                <p>
                    最新消息
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index", "StoreAdmin")" class="nav-link">
                <i class="nav-icon fas fa-cookie"></i>
                <p>
                    獲獎店家產品
                </p>
            </a>
        </li>
        <li class="nav-item" style="margin-top:20px;">
            <a href="/Admin/AuthAdmin/Logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    登出
                </p>
            </a>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->
<!-- /.sidebar -->