@charset "utf-8";
/* CSS Document */
*{box-sizing:border-box;}
body,html{
	-webkit-text-size-adjust:none;
  font-family:Verdana, 'Noto Sans TC','Microsoft JhengHei', sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0;
  color: #052813;
}
a{
  text-decoration: none;
  color: #333333;
}
a:hover{ color: #f72159; }
img{ 
    display: block;
    width: 100%; 
}
.visible{display: block;}
.visualArea{
    width: 100%;
    overflow: hidden;
}
.imgBox{
  width: 100vw;
  height: auto;  
}
.bg{
  padding: 5% 0;
  background: linear-gradient(#ffbdc4,#ffd6d6,#ffbdc4);
}
.bg2{
  padding: 5% 0;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
}
.eventArea{ 
    padding-top: 40px;
    padding-bottom: 260px; 
}
.flexbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menuBox{
    width: 100%;
    max-width: 1200px;
    padding: 0 0 40px 0;
    margin: 0 auto;
}
.menuBox a{
    display: block;
    width: 15%;
    cursor: pointer;
}

/*owl*/
.owl-carousel .carouselNavApp{
  position: absolute;
  top: 35%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.owl-carousel .carouselNav_nextApp,.owl-carousel .carouselNav_prevApp{
    border: 0px #fff dashed;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline:none;
}
.owl-carousel .carouselNav_nextApp{
    background: url(../images/arrow.png) no-repeat center center;
    background-size: cover;
    right: -50%;
    background-position: 100% 0;
  }
.owl-carousel .carouselNav_prevApp {
    background: url(../images/arrow.png) no-repeat center center;
    background-size: cover;
    left: 50%;
    background-position: 0 0;
}
/*owl end*/

/*iframe youtube-------------------------------------------------*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-containerS {
    position: relative;
    padding-bottom: 10%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}
/*iframe youtube-------------------------------------------end*/

.area{
  width: 100%;
  max-width:800px;
  margin: 3% auto;
  font-size: 1.5em;
  text-align: left;
  line-height: 1.2;
}
/*newsArea*/
.newsBox{
  display: flex;
  border-bottom: 1px solid #828282;  
  margin:2% 0; 
  padding:0% 0 2% 0;  
}
.date{ 
  display: inline-block;
  width: 20%;
  margin-right: 2em; 
}
.news{
  display: inline-block;
  width: 70%;
}
.more{
  display: block;
  text-transform:uppercase;
  text-decoration: underline;
  text-align: right;
}
/*newsArea end*/

/*eventArea*/
/*.eventInfo div{ 
  display: flex; 
  margin:2% 0; 
  line-height: 1.4;
}*/
/*.eventInfo p{ display: inline-block}
.eventInfo p:first-child{ width: 18%; }
.eventInfo p:last-child{ width: 75%; }*/
.conCon a,.contactCon a{ text-decoration: underline; }
.maskBox{ width: 30%; text-align: center;}
.voteBtn{
  color: #ffffff;
  background: linear-gradient(#ffcddc,#f45190,#f45190); 
  filter: drop-shadow(0px 4px 0px #ffffff);
  border-radius: 4px;
  padding:6px 12px;
  display: inline-block;
  text-align: left;
  margin: 10px 0;
  cursor: pointer;
}
.voteBtn:hover{ color: #f9f69d; }
.eventCon{ margin: 5% auto; }
/*eventArea end*/

/*videoArea*/
.videoArea{
  background-color: #fceef4;
}
.videoWrapper{
  width: 100%;
  max-width:1200px;
  padding: 3% 0;
  font-size: 1.5em;
  text-align: left;
  line-height: 1.2;
  margin: 0 auto;
}
.videoTitle{
  max-width: 800px;
  width: 100%;
  margin: 0 auto 3% auto;
}
.item{ 
  width: 90%; 
  margin: 0 auto; 
}

/*videoArea end*/

/*footer*/
footer{
  background-color: #e9719a;
  padding:50px 0;
}
.contactCon{
  text-align: left;
  line-height: 1.4;
}
.contactCon ul li{ margin: 8px 0; }
/*footer end*/

#gotop {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    z-index: 9999;
    background-image: url(../images/gotop.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#html5-watermark,#html5-play,.timelineBox br,.break br,.contactBox br{ display: none!important; }
.visibleM{ display: none; }

.close {
  display: none;
  width: 30px;
  height: 30px;
  right: -1%;
  top: -2%;
  z-index: 1;
  position: absolute;
  cursor: pointer;
}
.maskBg{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:#000;
  z-index:5;
  top:0;
  left:0;
  opacity:0.8;
}
div.comingsoonBox::-webkit-scrollbar-track{
  background-color: #F5F5F5;
}
div.comingsoonBox::-webkit-scrollbar{
  width: 10px;
  height: 3px;
  background-color: #F5F5F5;
}
div.comingsoonBox::-webkit-scrollbar-thumb{
  height: 3px;
  background-color: #cccccc;
}

/*link area*/
.linkBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.8em;
  margin-top: 2%;
}
.link{ 
  display: flex;
  align-items: center;
  padding-left: 36px; 
  position: relative;
  margin: 1%;
}
.link:before{
  content:'';
  background: url('../images/linkIcon.png');
  height: 30px;
  width: 30px;
  position: absolute;
  background-size: cover;
  left: 0;
}
/*link area end*/

.eventInfoCon{ 
  position: relative;
  display: flex;
  margin: 2% 0; 
}
.conTitle{ 
  text-indent: 1.5em;
  display: inline-block;
  width: 20%; 
  color: #fc326c;
}
.conTitle:before{
  content:'';
  background: url('../images/icon.png');
  height: 30px;
  width: 30px;
  position: absolute;
  background-size: cover;
  left: 0;
}
.conCon{
  display: inline-block;
  width: 75%;
}
.voteNum span{ color: #fc326c; }

/*online area*/
.onlineBtnBox{
  display: flex;
  justify-content: center;
}
.onlineBtn{ 
  width: 15%; 
  margin: 3%;
  cursor: pointer;
}
.searchBox {
    text-align: left;
    margin: 0 auto;
    width: 30%;
    margin: 2% auto;
    height: 36px;
    line-height: 36px;
    border: 1px solid #f4314e;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.searchText {
    border-style: none;
    margin: auto;
    width: 70%;
    padding: 2px;
    outline: none;
    background: rgba(0,0,0,0);
    font-size: 1em;
    text-indent: 1em;
}
.s-icon {
    display: -webkit-inline-box;
    background-color: #f4314e;
    padding: 5px 0px 0 0px;
    vertical-align: bottom;
}
.mSearchBtn {
    position: absolute;
    right: 0;
    background-color: #f4314e;
    color: #fff;
    padding: 0 3%;
    cursor: pointer;
}
.mSearchBtn:hover { color: #fff;}
.storeNameBox{ 
  margin:5% 0 0 0;  
  display: flex;
  justify-content: flex-start;
}
.storeBox,.storeInfo{
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  line-height: 1.4;
}
.storeLeft,.storeNameGap{
  width: 25%;
}
.storeRight{
  width: 73%;
  margin-left: 2%;
}
.storeName{ 
  width: auto; 
  margin-left: 1%;
  color: #d61c35;
  font-weight: 800;
  font-size: 1.4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.storeName img{ width: 16%; }
.storeLeft img,.storeLeft a{ margin: 2% 0; }
.storeLink{width: 40%;}
.storeInfo{
  display: flex;
  align-items: center;
}
.storeCon{ margin:2% 0;  }
.storeInfoCon{ width: 60%; }
.address {
    color: #f93a7f;
    -webkit-text-stroke: 0.5px #fcd4f1;
    font-weight: 800;
    text-shadow: -1px 0 #fcd4f1, 0 1px #fcd4f1, 1px 0 #fcd4f1, 0 -1px #fcd4f1;
    margin-right: 4px;
}
.storeText{
  color: #ef528e;
}
h3{
  font-size: 0.9em;
  font-weight: normal;
}
hr{ 
  background-color:#e9719a; 
  height:1px; 
  border:none;
}
.storeVideo{ 
  position: relative;
  display: block; 
}
.playIcon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 60px;
  height: 42px;
  z-index: 1;
}
/*online area end*/

/*newspage*/
.newspageTitle{
  font-size: 1.2em;
  font-weight: 800;
}
.newspageCon p{
  margin:4% 0;
  font-size: 0.9em; 
  line-height: 1.4;
}
/*newspage end*/

/*story area*/
.storyBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-indent: 2em;
  margin: 8% auto;
  line-height: 1.6;
}
.storyWords{ 
  margin: 8% auto; 
  line-height: 1.6;
}
.pastryBox,.pastryWords{ margin: 1% auto;  }
.storyLeft1,.storyRight1{ width: 48%; }
.storyImgBox{
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.storyLeft2,.storyRight3{ width: 58%; }
.storyRight2,.storyLeft3{ width: 38%; }
/*story area end*/

/*pastry area*/
.pastryConTitle{
  margin: 6% auto 2% 0;
  display: table;
}
.pastryConTitle img,.pastryConTitle2 img{
  width: auto;
  height: 3em;
}
.pastryConTitle2{ margin: 6% 0 2% auto; }
.pastryImg03 {
    width: 60%;
    margin: 2% auto;
}
/*pastry area end*/

.eventEnd{
  color: #ffffff;
  background-color: #d20040; 
  border-radius: 4px;
  padding:12px 22px;
  display: inline-block;
  text-align: center;
  margin: 10px auto;
  font-size: 2.5em;
  width: 90%;
  max-width: 320px;
}


@media (min-width: 1300px) {
  .area,.onlineArea{
    width: 100%;
    max-width:1200px;
    margin: 3% auto;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.2;
  }
  .onlineArea{ max-width:1050px; }
  .videoWrapper{ font-size: 2em; }
  .contactCon{ font-size: 1.2em; }
}

@media (max-width: 1200px) {

}
@media (max-width: 768px) {
  .storyBox{ flex-direction: column; }
  .storyLeft1, .storyRight1,.storyWords,
  .storyLeft2, .storyRight3 { width: 90%;}
  .storyBox,.storyWords { margin: 4% auto;}
  .storyLeft2, .storyRight3 { margin: 2% auto;}
  .storyRight2, .storyLeft3 { width: 60%;}
}

@media (max-width: 480px) {
  .menuBox { padding: 0 0 10px 0;}
  .menuBox a {
    width: 45%;
    margin: 2% 0;
  }
  .newsBox { 
    display: block;
    padding: 1% 3% 3% 3%;
  }
  .date,.eventInfo p:first-child {
    width: auto;
    margin-bottom: 2%;
  }
  .news,.eventInfo p:last-child,.conCon { width: 100%;}
  .conTitle,.conCon,.eventInfoCon,.visibleM{ display: block; }
  .eventInfo{ padding: 1% 3% 3% 3%;  }
  .maskBox { 
    width: 90%;
    margin: 3% 0;
  }
  .voteBtn{ padding: 12px 32px; }
  footer { padding: 50px 16px;}
  .contactCon { margin-bottom: 8%;}
  .visible,.storeNameGap{ display: none; }
  .area{ 
    font-size: 1.3em;
    margin: 10% auto;
  }
  .more{ margin: 4% 2% 8% 2%; }
  .videoWrapper { padding: 10% 0;}
  .link {
    margin: 3% auto;
    width: 90%;
  }
  #html5box-html5-lightbox .html5-prev-touch,#html5box-html5-lightbox .html5-next-touch {
    top: 40%!important;
  }
  .conTitle {
    width: 100%;
    margin-bottom: 2%;
  }
  .eventInfoCon { margin: 5% 0;}
  .eventCon { margin: 0 auto 5% auto;}
  .newspageCon,.storeInfoCon,.contactCon { width: 90%;}
  .onlineBtn { width: 25%;}
  .searchBox{ width: 70%;}
  .storeBox{ flex-direction: column-reverse;}
  .storeLeft {
    width: 80%;
    margin: 0 auto;
  }
  .storeRight {
    width: 90%;
    margin: 0 auto;
  }
  .storeNameBox{ 
    justify-content: flex-start;
    padding-left: 3%;
  }
  .storeName img {width: 20%;}
  .storeInfo {
    align-items: flex-start;
    flex-direction: column;
  }
  .storeLink { width: 50%;}
  .pastryConTitle,.pastryImg03 { width: 75%;}
  .pastryConTitle img, .pastryConTitle2 img { height: 2em;}
  .pastryTitle04{ width: 60%; }
  .contactCon a{ word-break: break-all; }
}