﻿@model PastryFestival2021.ViewModels.Member.MemberView
@section head{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        input {
            font-size: 22px
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-left:0;
            margin-right:0;
        }

        form input {
            width: 100%;
            height: 100%;
        }

            form input[type='submit'] {
                border: 0;
                font-size: 100%;
                text-align: center;
            }

        form .col-4 {
            text-align: right;
        }
    </style>
}
    <div class="area">
        <div class="form-group row container">
            <div class="conCon text-center">投票活動結束</div>
            @*<div class="conCon text-center">送出後成功投票並獲得抽獎機會</div>*@

        </div>
        @*@using (Html.BeginForm("Form", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.ID)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row">
                <div class="col-md-1 col-xs-3">
                    @Html.LabelFor(p => p.Name)
                </div>
                <div class="col-md-4 col-xs-8">
                    @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = " text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1 col-xs-3">
                    @Html.LabelFor(p => p.Phone)
                </div>
                <div class="col-md-4 col-xs-8">
                    @Html.TextBoxFor(p => p.Phone, new { @type = "tel", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-1 col-xs-3">
                    @Html.LabelFor(p => p.Email)
                </div>
                <div class="col-md-4 col-xs-8">
                    @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-xs-7">
                    <input class="voteBtn text-center" width="200" type="submit" value="送出">
                </div>
            </div>
        }*@
    </div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>

    <script>
        $(window).on('load', function () {
            $("form").each(function () { $.data($(this)[0], 'validator', false); });
            $.validator.unobtrusive.parse("form");
        });
    </script>
}