﻿@model PastryFestival2021.ViewModels.Home.HomeView
@{
    ViewBag.Title = "Index";

}
@section head{
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.theme.default.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/js/html5lightbox.js"></script>

    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>

}
<div class="area">
    <div class="title visible"><img src="~/Content/images/newsTitle.png" alt=""></div>
    <div class="title visibleM"><img src="~/Content/images/newsTitleM.png" alt=""></div>
    <div class="newsList">
        @foreach (var item in Model.NewsList)
        {
            <a href="@Url.Action("Detail","News", new { id = item.ID })" class="newsBox">
                <div class="date">@item.OnlineTime.ToString("yyyy-MM-dd")</div>
                <div class="news">@item.Title</div>
            </a>
        }
    </div>
    <a href="@Url.Action("Index","News")" class="more">more</a>
</div>

@section scripts{
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/html5lightbox.js"></script>

    <script>
        $(function () {
            var extraOffset = 90;
            $('a[href=#event]').click(function () {
                $('html,body').animate({
                    scrollTop: $('#event').offset().top - extraOffset
                }, "show");
                return false;
            });
            $('a[href=#video]').click(function () {
                $('html,body').animate({
                    scrollTop: $('#video').offset().top - extraOffset
                }, "show");
                return false;
            });
            $('a[href=#link]').click(function () {
                $('html,body').animate({
                    scrollTop: $('#link').offset().top - extraOffset
                }, "show");
                return false;
            });
            //輪播
            setTimeout(function () {
                $('.videoCarousel').owlCarousel({
                    loop: false,
                    margin: 0,
                    nav: true,
                    dots: true,
                    autoplay: false,
                    //navClass: ["carouselNav_prevApp", "carouselNav_nextApp"],
                    navText: [" ", " "],
                    navContainerClass: "carouselNavApp",
                    items: 2,
                    responsive: {
                        0: {
                            items: 1
                        },
                        480: {
                            items: 1
                        },
                        769: {
                            items: 2
                        }
                    }

                });
            }, 1000);

        });
           @*$(".voteBtn").click(function () {
               var $this = $(this);
               const apiUrl = '@Url.Action("Voted")';
               $.get(apiUrl + '?vid=' + $this.data('vote'), function (result) {
                   if (result == "success") {
                       Swal.fire({
                           position: 'top-center',
                           icon: 'success',
                           title: '投票成功',
                           showConfirmButton: false,
                           timer: 2000
                       })
                       setTimeout(function () {
                           window.location.reload();
                       }, 2000);

                       window.location.hash = "mask";
                   }
                   else if (result == "error") {
                       window.location.href = "/SocialLogin/FBRegister" + "?vid=" + $this.data('vote');
                   } else if (result == "form") {
                       window.location.pathname = "/Home/Form"
                   } else {
                       Swal.fire({
                           position: 'top-center',
                           icon: 'error',
                           title: '今日已投票，請明日再投',
                           showConfirmButton: false,
                           timer: 2000
                       })
                   }
               });
        });*@
    </script>
}