﻿@model PastryFestival2021.ViewModels.Store.StoreIndexView
@section head{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" />
}
<div class="area">
    <div class="title visible"><img src="~/Content/images/onlineTitle.png" alt=""></div>
    <div class="title visibleM"><img src="~/Content/images/onlineTitleM.png" alt=""></div>

    <div class="onlineArea">

        <div class="onlineBtnBox">
            <div class="onlineBtn" data-zone="1"><img src="~/Content/images/onlineBtn1.png" alt=""></div>
            <div class="onlineBtn" data-zone="2"><img src="~/Content/images/onlineBtn2.png" alt=""></div>
            <div class="onlineBtn" data-zone="3"><img src="~/Content/images/onlineBtn3.png" alt=""></div>
        </div>

        <div class="searchBox">
            <input type="text" class="searchText" id="searchText" onclick="return false;" maxlength="100" placeholder="搜尋" autocomplete="off" value="@Model.searchText">
            <a class="s-icon mSearchBtn" id="btnSearch" href="javascript:void(0);">
                <i class="fas fa-search"></i>
            </a>
        </div>
        @foreach (var item in Model.List)
        {
            var storeid = "store" + item.ID;
            <div id="@storeid" class="storeBlock">
                <div class="storeNameBox">
                    <div class="storeNameGap"><img src="~/Content/images/gap.png" alt=""></div>
                    <div class="storeName">
                        <img src="~/Content/images/storeName.png" alt="">
                        <p>@item.Name</p>
                    </div>
                </div>
                <div class="storeBox">
                    <div class="storeLeft">
                        @if (!string.IsNullOrEmpty(item.Image))
                        {
                            <img src="~/FileUploads/StorePhoto/@item.Image" alt="">
                        }
                        @if (!string.IsNullOrEmpty(item.Image2))
                        {
                            <img src="~/FileUploads/StorePhoto/@item.Image2" alt="">
                        }
                        @if (!string.IsNullOrEmpty(item.VideoUrl))
                        {
                            var videourl1 = item.VideoUrl.IndexOf("https://www.youtube.com/watch?v=") != -1 ? "https://www.youtube.com/watch?v=" : "https://youtu.be/";
                            var str1 = item.VideoUrl.Replace(videourl1, "");
                            var videoId = str1.IndexOf("&") != -1 ? str1.Substring(0, str1.IndexOf("&")) : str1;
                            <a href="@item.VideoUrl" class="storeVideo html5lightbox" data-group="mygroup" data-width="1920" target='_blank' data-height="1080">
                                <img class="playIcon" src="~/Content/images/playIcon.png">
                                <img src="http://img.youtube.com/vi/@videoId/sddefault.jpg" alt="">
                            </a>
                        }
                    </div>
                    <div class="storeRight">
                        <div class="storeInfo">
                            <div class="storeInfoCon">
                                @if (!string.IsNullOrEmpty(item.Address))
                                {
                                    <p><span class="address">地址</span>@item.Address</p>
                                }
                                @if (!string.IsNullOrEmpty(item.Phone))
                                {
                                    <p><span class="address">電話</span>@item.Phone</p>
                                }
                            </div>
                            @if (!string.IsNullOrEmpty(item.Link))
                            {
                                @*<div class="storeLink">
                                        <a href="@item.Link" target="_blank" onclick="gtm('event', 'click', {'send_to': 'G-VBWB0L732Q', 'event_category': 'url', 'event_label': '@item.Name',  'value': '@item.Name', 'transport_type': 'beacon', 'event_callback': function(){document.location = url;}}});">
                                            <img src="~/Content/images/storeLink.png" alt="">
                                        </a>
                                    </div>*@
                                <div class="storeLink">
                                    <a href="@item.Link" title="@item.Name" target="_blank" onclick="download_tracking('@item.Name')">
                                        <img src="~/Content/images/storeLink.png" alt="">
                                    </a>
                                </div>
                            }
                        </div>
                        @if (!string.IsNullOrEmpty(item.Info))
                        {
                            <div class="storeCon storeCon1">
                                <p class="storeText">店家介紹</p>
                                <h3>
                                    @item.Info
                                </h3>
                            </div>
                        }

                        <div class="storeCon storeCon2">
                            <p class="storeText">@(item.Awards != 0 ? PastryFestival2021.Utility.Cmind.EnumHelper.GetEnumDescription(item.Awards) : "獲獎產品")-@item.ProductName</p>
                            @if (!string.IsNullOrEmpty(item.ProductInfo))
                            {
                                <h3>
                                    @item.ProductInfo
                                </h3>
                            }
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        }
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Content/js/html5lightbox.js"></script>
    <script>
        function download_tracking(value) {
            gtag('event', '連結_'+ value, {
                'event_category': 'link',
                'event_label': value
            });
        }
    </script>
    <script>

        $(document).ready(function () {
            $('#searchText').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#btnSearch').click();
            });
        });
        $(function () {
            $(".bg").attr("class", "bg2");
            //取得api
            const apiUrl = '@Url.Action("Search")';
            var searchtxt = '';
            var typeid = '';
            $('#btnSearch').click(function () {
                searchtxt = $('#searchText').val();
                if (searchtxt) {
                    window.location.href = "/Online?searchText=" + searchtxt;

                    //$.ajax({
                    //    type: 'GET',
                    //    url: apiUrl,
                    //    data: { type: 0, title: searchtxt },
                    //}).done(function (result) {
                    //    $('.storeBlock').hide();
                    //    result = JSON.parse(result);
                    //    $.each(result, function (i, e) {
                    //        $("#store" + e.ID).show();
                    //    })
                    //}).fail(function () {
                    //    console.log("錯誤");
                    //});
                }
            })
            $('.onlineBtn').click(function () {
                typeid = $(this).data("zone");
                $('#searchText').val('');
                if (typeid) {
                    window.location.href = "/Online?type=" + $(this).data("zone");
                    //$.ajax({
                    //    type: 'GET',
                    //    url: apiUrl,
                    //    data: { type: typeid, title: '' },
                    //}).done(function (result) {
                    //    $('.storeBlock').hide();
                    //    result = JSON.parse(result);
                    //    $.each(result, function (i, e) {
                    //        $("#store" + e.ID).show();
                    //    })

                    //}).fail(function () {
                    //    console.log("錯誤");
                    //});
                }
            })
        });
    </script>
}
