﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>臺灣餅嘉年華線上展會活動</title>
    <link rel="shortcut icon" href="https://@Request.Url.Authority/Content/images/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <meta property="og:site_name" content="" />
    <meta property="og:title" content="" />

    <!--    匯入jQuery    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VBWB0L732Q"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-VBWB0L732Q');
    </script>
    <script>
        $(function () {
            $('.comingsoonClick').click(function () {
                $('.comingsoonArea,.maskBg,.close').css({ 'display': 'block' });
            });
            $('.comingsoonClick2,.comingsoonClick3').click(function () {
                $('.comingsoonArea2,.maskBg,.close').css({ 'display': 'block' });
            });
            $('.close,.maskBg').click(function () {
                $('.comingsoonArea,.comingsoonArea2,.maskBg,.close').fadeOut(200);
            });
        });
    </script>
    @RenderSection("head", required: false)
</head>
<body>
    <div class="maskBg"></div>
    <div class="visualArea">
        <div class="imgBox visible">
            <a href="@Url.Action("Index","Home")"><img src="~/Content/images/visual.jpg"></a>
        </div>
        <div class="imgBox visibleM">
            <a href="@Url.Action("Index","Home")"><img src="~/Content/images/visualM.jpg"></a>
        </div>
    </div>
    <div class="bg">

        <div class="menuVideo">
            <div class="menuBox flexbox">
                <a href="@Url.Action("Index","Story")"><img src="~/Content/images/menu1.png" alt=""></a>
                <a href="@Url.Action("Index","Pastry")"><img src="~/Content/images/menu2.png" alt=""></a>
                <a href="@Url.Action("Index","Online")"><img src="~/Content/images/menu3.png" alt=""></a>
                <a href="@Url.Action("Index","Home")#video"><img src="~/Content/images/menu4.png" alt=""></a>
                <a href="@Url.Action("Index","Home")#link"><img src="~/Content/images/menu6.png" alt=""></a>
            </div>
        </div>
        @RenderBody()
    </div>

    @if (ViewBag.Title != null)
    {
        <div class="videoArea" id="video">
            <div class="videoWrapper">
                <div class="title videoTitle visible"><img src="~/Content/images/videoTitle.png" alt=""></div>
                <div class="title videoTitle visibleM"><img src="~/Content/images/videoTitleM.png" alt=""></div>
                <div class="videoCarousel owl-carousel owl-theme">

                    <div class="item video">
                        <a href="https://www.youtube.com/watch?v=GvvojPYSR0A" class="html5lightbox" data-group="mygroup" data-width="1920" data-height="1080"><img src="http://img.youtube.com/vi/GvvojPYSR0A/maxresdefault.jpg" alt=""></a>
                        <div class="videoText">
                            <p>歷久彌新  幸福滋味</p>
                        </div>
                    </div>

                    <div class="item video">
                        <a href="https://www.youtube.com/watch?v=aKdmCKyCQUY" class="html5lightbox" data-group="mygroup" data-width="1920" data-height="1080"><img src="http://img.youtube.com/vi/aKdmCKyCQUY/maxresdefault.jpg" alt=""></a>
                        <div class="videoText">
                            <p>臺灣餅轉動幸福新滋味</p>
                        </div>
                    </div>

                    <div class="item video">
                        <a href="https://www.youtube.com/watch?v=Shhp4UyqSuI" class="html5lightbox" data-group="mygroup" data-width="1920" data-height="1080"><img src="~/Content/images/video2.jpg" alt=""></a>
                        <div class="videoText">
                            <p>喜餅試吃！品嚐六款「2020南臺灣大餅節」人氣喜餅推薦</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="bg" id="link">
            <div class="area">
                <div class="title visible"><img src="~/Content/images/linkTitle.png" alt=""></div>
                <div class="title visibleM"><img src="~/Content/images/linkTitleM.png" alt=""></div>

                <div class="linkBox">
                    <a class="link" href="https://www.moea.gov.tw/MNS/populace/home/Home.aspx" target="_blank">中華民國經濟部</a>
                    <a class="link" href="http://www.roccoc.org.tw/web/index/index.jsp" target="_blank">中華民國全國商業總會</a>
                    <a class="link" href="http://www.bakery-roc.org.tw" target="_blank">中華民國糕餅商業同業公會全國聯合會</a>
                    <a class="link" href="http://www.bakery-taiwan.com.tw/" target="_blank">台灣省糕餅商業同業公會聯合會</a>
                    <a class="link" href="http://www.caotc.org.tw" target="_blank">新北市糕餅商業同業公會</a>
                    <a class="link" href="http://www.taichungbakery.org.tw" target="_blank">台中市糕餅商業同業公會</a>
                    <a class="link" href="https://www.facebook.com/%E5%8F%B0%E7%81%A3%E7%83%98%E7%84%99%E7%94%A2%E6%A5%AD%E7%99%BC%E5%B1%95%E5%8D%94%E6%9C%83-1052893238077953/?ref=page_internal" target="_blank">台灣烘焙發展協會</a>
                    <a class="link" href="https://www.ambassadeursdupain.com/mondialdupain/" target="_blank">臺灣麵包大使協會 Taiwan Ambassadeurs Du Pain</a>
                </div>
            </div>
        </div>
    }

    <footer class="flexbox">
        <div class="contactCon">
            <ul>
                <li>主辦單位 : 經濟部商業司</li>
                <li>執行單位 : 中華民國全國商業總會</li>
                <li>李欣穎小姐電話 : 02-27012671分機311</li>
                <li>陳品潔小姐電話 : 02-27012671分機223</li>
                <li>傳真 : 02-27012595</li>
                <li>E-mail : pretty315@roccoc.org.tw</li>
                <li>地址 : 10656台北市大安區復興南路一段390號6樓</li>
                <li>臉書粉絲團 : <a href="https://www.facebook.com/TaiwanesePastry/" target="_blank">https://www.facebook.com/TaiwanesePastry/</a></li>
            </ul>
        </div>
        <div class="fb">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTaiwanesePastry%2F&tabs=timeline&width=300&height=250&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </footer>


    <div id="gotop"></div>

    <script type="text/javascript">
        $(function () {
            $("#gotop").click(function () {
                jQuery("html,body").animate({
                    scrollTop: 0
                }, 1000);
            });
            $(window).scroll(function () {
                if ($(this).scrollTop() > 300) {
                    $('#gotop').fadeIn("fast");
                } else {
                    $('#gotop').stop().fadeOut("fast");
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    @if (TempData["Message"] != null)
    {
        <script>
        var msg = '@TempData["Message"]';
        var result = '@TempData["Result"]';

        Swal.fire({
            position: 'top-center',
            icon: result,
            title: msg,
            showConfirmButton: false,
            timer: 2000
        })
        window.location.hash = "mask";
        @{TempData["Result"] = null;}
        @{ TempData["Message"] = null; }
        </script>
    }
    @RenderSection("scripts", required: false)

</body>
</html>