﻿@section head{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        p {
            font-size: 20px;
        }
    </style>
}
<div class="area text-center">
    <p style="font-size:30px;font-weight:bold">錯誤</p>
    <p>
        找不到此頁面
    </p>
    <p>
        您可以回到<a class="" style="margin:20px 0;color:blue" href="@Url.Action("Index","Home")">首頁</a>
    </p>
</div>