﻿@model PastryFestival2021.Areas.Admin.ViewModels.Store.StoreView
@{
    var title = Model.ID == 0 ? "新增" : "編輯";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    @title 獲獎店家管理
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title">@title 獲獎店家管理</h3>
                </div>

                @using (Html.BeginForm("Edit", "StoreAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Type)
                            @Html.DropDownListFor(model => model.Type, Model.TypeOptions, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone)
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Awards)
                            @Html.DropDownListFor(model => model.Awards, Model.AwardsOptions, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address)
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Info)
                            @Html.TextAreaFor(model => model.Info, new { @class = "form-control", Rows = "4" })
                            @Html.ValidationMessageFor(model => model.Info, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Image)
                            <br />
                            <p class="help-block">請上傳不超過3MB的圖片，建議尺寸(寬400*高230)</p>
                            @Html.EditorFor(m => m.ImageFile, "_UploadImage", new { @PhotoFolder = "StorePhoto" })
                            @if (!string.IsNullOrEmpty(Model.Image))
                            {
                                <img src="~/FileUploads/StorePhoto/@Model.Image?v=@DateTime.Now.ToString("yyyyMMddhhmmssfff")" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.Image)
                                <br />
                                @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = "Image" }, new { @class = "btn btn-danger js-delete-confirm" })
                            }
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Image2)
                            <br />
                            <p class="help-block">請上傳不超過3MB的圖片，建議尺寸(寬400*高230)</p>
                            @Html.EditorFor(m => m.Image2File, "_UploadImage", new { @PhotoFolder = "StorePhoto" })
                            @if (!string.IsNullOrEmpty(Model.Image2))
                            {
                                <img src="~/FileUploads/StorePhoto/@Model.Image2?v=@DateTime.Now.ToString("yyyyMMddhhmmssfff")" class="img-thumbnail" style="width:200px" />
                                @Html.HiddenFor(model => model.Image2)
                                <br />
                                @Html.ActionLink("刪除圖片", "DeleteImage", new { id = Model.ID, type = "Image2" }, new { @class = "btn btn-danger js-delete-confirm" })
                            }
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Link)
                            @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.VideoUrl)
                            @Html.TextBoxFor(model => model.VideoUrl, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VideoUrl, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductName)
                            @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductInfo)
                            @Html.TextAreaFor(model => model.ProductInfo, new { @class = "form-control", Rows = "4" })
                            @Html.ValidationMessageFor(model => model.ProductInfo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Sort)
                            @Html.TextBoxFor(model => model.Sort, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Sort, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-check">
                            @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                            <label class="form-check-label" for="check-card-status">
                                @Html.DisplayNameFor(model => model.Status)
                            </label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">儲存</button>
                        @if (Model.ID != 0)
                        {
                            @Html.ActionLink("刪除", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                        }
                        @Html.ActionLink("取消/回列表", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/fileUpload.js"></script>
    <script src="~/Content/Admin/ckeditor/ckeditor.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script>
        $(window).on('load', function () {
            $("form").each(function () { $.data($(this)[0], 'validator', false); });
            $.validator.unobtrusive.parse("form");
        });
        $('body').on('change', '.custom-file input[type="file"]', function () {
            const $this = $(this);
            var $customFile = $this.parent();

            var fileName = $this.val();
            var cleanFileName = fileName.replace('C:\\fakepath\\', " ");
            $customFile.find('.custom-file-label').html(cleanFileName);
        });
        $(function () {
            //Ckeditor init
            $('.js-ckeditor').each(function (i, e) {
                var id = $(e).attr('id');
                CKEDITOR.replace(id, {
                    filebrowserImageUploadUrl: "/Admin/StoreAdmin/Upload"
                });
            });
        });
    </script>
}