﻿@using PastryFestival2021.Models.Cmind;
@model PastryFestival2021.Areas.Admin.ViewModels.Store.StoreIndexView
@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    獲獎店家管理
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <!--搜尋條件-->
        <div class="col-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">搜尋</h3>
                </div>
                @using (Html.BeginForm("Index", "StoreAdmin", FormMethod.Get, new { @class = "form-horizontal" }))
                {
            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-12">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "店家名" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Type, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-12">
                        @Html.DropDownListFor(model => model.Type, Model.TypeOptions, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Awards, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-12">
                        @Html.DropDownListFor(model => model.Awards, Model.AwardsOptions, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.Status, "StatusDropDownList", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info">搜尋</button>
                        @Html.ActionLink("新增產品", "Edit", "StoreAdmin", new { }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
                }
            </div>
        </div>

        <!--清單-->
        <div class="col-12">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">產品列表</h3>
                </div>
                <div class="card-body">
                    <div id="dataList_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        @Html.Partial("_PageSizeAdmin", Model.PageResult)
                        <div class="row table-responsive no-padding">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover table-striped dataTable dtr-inline">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Type)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Awards)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ProductName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Status)
                                            </th>
                                            <th data-sorting="Sort">
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Sort)
                                            </th>
                                            <th data-sorting="UpdateTime">
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateTime)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Type)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Awards)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().ProductName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Status)
                                            </th>
                                            <th data-sorting="Sort">
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().Sort)
                                            </th>
                                            <th data-sorting="UpdateTime">
                                                @Html.DisplayNameFor(model => model.PageResult.Data.FirstOrDefault().UpdateTime)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model.PageResult.Data)
                                        {
                                        <tr>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @Model.TypeOptions[item.Type].Text
                                            </td>
                                            <td>
                                                @Model.AwardsOptions[item.Awards].Text
                                            </td>
                                            <td>
                                                @item.ProductName
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.Status, "_Status")
                                            </td>
                                            <td>
                                                @item.Sort
                                            </td>
                                            <td>
                                                @item.UpdateTime.ToString("yyyy/MM/dd HH:mm")
                                            </td>
                                            <td>
                                                @Html.ActionLink("編輯", "Edit", "StoreAdmin", new { id = item.ID }, new { @class = "btn btn-primary" })
                                                @Html.ActionLink("刪除", "Delete", "StoreAdmin", new { id = item.ID }, new { @class = "btn btn-danger js-delete-confirm" })
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        @Html.Partial("_PageAdmin", Model.PageResult)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Admin/page.js"></script>
}